<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>心のこもったお土産を</h1>
      <% unless logged_in? %>
      	<%= link_to 'たのみやげを始める' , '/auth/twitter', class: "btn btn-success btn-lg" %>
      <% else %>
      	<%= link_to 'おみやげを検索' , new_item_path, class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>